@model SalonDeBellezaCarlitos.WebUI.Models.CategoriaViewModel


<div class="modal" id="EditarCategoria" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Categoria</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Edit" id="formEdit">
                <div class="modal-body">
                    <input asp-for="cate_Id" class="form-control" id="cate_Id_Edit" name="cate_Id" hidden/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="cate_Descripcion" class="control-label"></label>
                        <input asp-for="cate_Descripcion" class="form-control" id="cate_Descripcion_Edit" name="cate_Descripcion" />
                        <label name="lbl_DescripcionEditError" id="lbl_DescripcionEditError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarModalEdit()">Editar Categoria</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>