@model SalonDeBellezaCarlitos.WebUI.Models.ProductoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-decoration-underline text-center">AGREGAR PRODUCTOS</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Nombre" class="control-label"></label>
                        <input asp-for="prod_Nombre" class="form-control" id="prod_Nombre"/>
                        <span asp-validation-for="prod_Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Precio" class="control-label"></label>
                        <input asp-for="prod_Precio" class="form-control" id="prod_Precio" onkeypress="return soloNumeros(event)"/>
                        <span asp-validation-for="prod_Precio" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="cate_Id" class="control-label">Id Categoria</label>
                        <select asp-for="cate_Id" class="form-control" id="cate_Id" asp-items="ViewBag.cate_Id">
                            <option value="">-- Selecciones una Categoria --</option>
                        </select>
                        <span asp-validation-for="cate_Id" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Stock" class="control-label"></label>
                        <input asp-for="prod_Stock" class="form-control" id="prod_Stock" onkeypress="return soloNumeros(event)"/>
                        <span asp-validation-for="prod_Stock" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prov_id" class="control-label">Id Proveedor</label>
                        <select asp-for="prov_id" class="form-control" id="prov_id" asp-items="ViewBag.prov_Id">
                            <option value="">-- Selecciones un Proveedor --</option>
                        </select>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col d-flex justify-content-end">
                    <input type="submit" value="Guardar" class="btn btn-primary mx-1" />
                    <a class="btn btn-dark" asp asp-action="Index">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var input = document.getElementById("prod_Nombre",);
    input.addEventListener("keydown", function (event) {
        var key = event.key;

        if (!isNaN(parseFloat(key)) && isFinite(key)) {
            event.preventDefault();
        }
    });

    function soloNumeros(event) {
        var charCode = event.keyCode || event.which;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            event.preventDefault();
            return false;
        }
        return true;
    }
</script>
