@model SalonDeBellezaCarlitos.WebUI.Models.ProductoViewModel

<h4>tbProductos</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Nombre" class="control-label"></label>
                        <input asp-for="prod_Nombre" class="form-control" />
                        <span asp-validation-for="prod_Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Precio" class="control-label"></label>
                        <input asp-for="prod_Precio" class="form-control" />
                        <span asp-validation-for="prod_Precio" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="cate_Id" class="control-label">Id Categoria</label>
                        <select asp-for="cate_Id" class="form-control" asp-items="ViewBag.cate_Id"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Stock" class="control-label"></label>
                        <input asp-for="prod_Stock" class="form-control" />
                        <span asp-validation-for="prod_Stock" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prov_id" class="control-label">Id Proveedor</label>
                        <select asp-for="prov_id" class="form-control" asp-items="ViewBag.prov_id"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_UsuarioCreacion" class="control-label">Usuario Creación</label>
                        <select asp-for="prod_UsuarioCreacion" class="form-control" asp-items="ViewBag.prod_UsuarioCreacion"></select>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col d-flex justify-content-end">
                    <input type="submit" value="Create" class="btn btn-primary mx-1" />
                    <a class="btn btn-dark" asp asp-action="Index">Regresar</a>
                </div>
            </div>
        </form>
    </div>
</div>



