@model SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel


<div class="modal" id="modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Servicio</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" id="formCreate">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="serv_Nombre" class="control-label"></label>
                        <input asp-for="serv_Nombre" class="form-control" id="serv_Nombre" name="serv_Nombre" />
                        <label name="lbl_serv_Nombre" id="lbl_serv_Nombre" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="serv_Descripcion" class="control-label"></label>
                        <input asp-for="serv_Descripcion" class="form-control" id="serv_Descripcion" name="serv_Descripcion" />
                        <label name="lbl_serv_Descripcion" id="lbl_serv_Descripcion" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                    <div class="form-group">
                        <label asp-for="serv_Precio" class="control-label"></label>
                        <input asp-for="serv_Precio" class="form-control" id="serv_Precio" name="serv_Precio" />
                        <label name="lbl_serv_Precio" id="lbl_serv_Precio" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarModalCreate()">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>