@model SalonDeBellezaCarlitos.WebUI.Models.MunicipioViewModel


<div class="modal" id="modalCreate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Municipio</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" id="formCreate">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="muni_Descripcion" class="control-label"></label>
                                <input asp-for="muni_Descripcion" class="form-control" />
                                <label name="lbl_DescripcionCreateError" id="lbl_DescripcionCreateError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="muni_Codigo" class="control-label"></label>
                                <input asp-for="muni_Codigo" maxlength="4" class="form-control" />
                                <label name="lbl_MunicipioCreateError" id="lbl_MunicipioCreateError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="depa_Id" class="control-label"></label>
                                <select asp-for="depa_Id" class="form-select" asp-items="ViewBag.depa_Id">
                                    <option value="">-- Selecciones un Departamento --</option>
                                </select>
                                <label name="lbl_DepartamentoCreateError" id="lbl_DepartamentoCreateError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarModalCreate()">Guardar Municipio</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>