@model SalonDeBellezaCarlitos.WebUI.Models.CargoViewModel


<div class="modal" id="EliminarCargos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear cargo</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" id="formDelete">
                <div class="modal-body">
                    <div class="modal-body text-center">
                        <div class="row mb-3">
                            <div class="col">
                                <input asp-for="carg_Id" class="form-control" id="carg_Id_Delete" name="carg_Id" hidden />
                                <h4 class="padding-top-30 mb-30 weight-500">¿Desea eliminar este registro?</h4>
                                <label name="lbl_DescripcionDeleteError" id="lbl_DescripcionCreateError" class="control-label" hidden style="color: red;">Ocurrio un error con este delete</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-primary mx-1" onclick="GuardarModalDelete()">Eliminar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>