@model SalonDeBellezaCarlitos.WebUI.Models.FacturasViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="logrado" value="@ViewBag.logrado" />
<h1>Create</h1>
<a class="btn btn-dark" id="btnRegresar" asp asp-action="Index">Regresar</a>
<h4>tbFacturas</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="formCreateFactura">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group col">
                        <label asp-for="clie_Id" class="control-label"></label>
                        <select asp-for="clie_Id" id="clie_Id" class="form-select" asp-items="ViewBag.clie_Id">
                            <option value="">-- Selecciones un Cliente --</option>
                        </select>
                        <label name="lbl_clie_IdError" id="lbl_clie_IdError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group col">
                        <label asp-for="metp_Id" class="control-label"></label>
                        <select asp-for="metp_Id" id="metp_Id" class="form-select" asp-items="ViewBag.metp_Id">
                            <option value="">-- Selecciones un Metodo de pago --</option>
                        </select>
                        <label name="lbl_metp_IdError" id="lbl_metp_IdError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                </div>
            </div>
            <div class="row" id="fila2">
                <div class="col-6">
                    <div class="form-group col">
                        <label asp-for="empl_Id_Caja" class="control-label"></label>
                        <select asp-for="empl_Id_Caja" id="empl_Id_Caja" class="form-select" asp-items="ViewBag.empl_Id_Caja">
                            <option value="">-- Selecciones un Cajero --</option>
                        </select>
                        <label name="lbl_empl_Id_CajaError" id="lbl_empl_Id_CajaError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group col">
                        <label asp-for="empl_Id_Atendido" class="control-label"></label>
                        <select asp-for="empl_Id_Atendido" id="empl_Id_Atendido" class="form-select" asp-items="ViewBag.empl_Id_Atendido">
                            <option value="">-- Selecciones un Estilista --</option>
                        </select>
                        <label name="lbl_empl_Id_AtendidoError" id="lbl_empl_Id_AtendidoError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col d-flex justify-content-end">
                    <button type="button" class="btn btn-primary mx-1" id="btnFacturar" onclick="EnviarFormFactura()">Empezar a facturar</button>
                </div>
            </div>
        </form>
    </div>
</div>








<div class="row mt-4">
    <div class="col-md-12">
        <form asp-action="Create" id="formFacturaDetalle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="fact_Id" value="@ViewBag.fact_Id" />
            <div class="row text-center">
                <div class="col-5">
                    <div class="form-group col">
                        <label asp-for="prod_Id" class="control-label"></label>
                        <select asp-for="prod_Id" id="prod_Id" class="form-control" asp-items="ViewBag.prod_Id">
                            <option value="0">-- Selecciones un Producto --</option>
                        </select>
                    </div>
                </div><div class="col-2">
                    <br />
                    O
                </div>
                <div class="col-5">
                    <div class="form-group col">
                        <label asp-for="serv_Id" class="control-label"></label>
                        <select asp-for="serv_Id" id="serv_Id" class="form-control" asp-items="ViewBag.serv_Id">
                            <option value="0">-- Selecciones un Metodo de Servicio --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div col="row">
                <label name="lbl_prod_Id_AtendidoError" id="lbl_prod_Id_AtendidoError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
            </div>
            <div class="row text-center d-flex justify-content-center">
                <div class="col-5">
                    <div class="form-group col">
                        <label asp-for="fade_Cantidad" class="control-label"></label>
                        <input asp-for="fade_Cantidad" id="fade_Cantidad" class="form-control" />
                        <label name="lbl_fade_Cantidad_AtendidoError" id="lbl_empl_Id_AtendidoError" class="control-label" hidden style="color: red;">Este campo es requerido</label>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col d-flex justify-content-end">
                    <button type="button" id="btnDetalles" onclick="EnviarFormDetalles()" class="btn btn-primary mx-1">Ingresar producto</button>
                    <a class="btn btn-danger" asp asp-action="Index">Finalizar compra</a>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="~/js/App/Salon/Facturas.js"></script>
