@model SalonDeBellezaCarlitos.WebUI.Models.DepartamentoViewModel


<div class="modal" id="EliminarDepartamento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="margin:auto;" >Borrar Departamento</h5>
            </div>
            <form asp-action="Delete" id="formDelete">
                <div class="modal-body">
                    <div class="modal-body text-center">
                        <div class="row mb-3">
                            <div class="col">
                                <input asp-for="depa_Id" class="form-control" id="depa_Id_Delete" name="depa_Id" hidden />
                                <h4 class="padding-top-30 mb-30 weight-500">¿Desea eliminar este Departamento?</h4>
                                <label name="lbl_DescripcionDeleteError" id="lbl_DescripcionDeleteError" class="control-label" hidden style="color: red;">Ocurrio un error al borrar este registro!</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-danger mx-1" onclick="GuardarModalDelete()">Eliminar</button>
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>